<%- include('../partials/header') %>

<div class="container">
    <div class="row-1 mt-5">
        <h2 class="mb-5 text-center">Edit</h2>
        <div style="width: 30%; margin: 0 auto;">
            <form action="/campgrounds/<%= campground_id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
                <input class="form-control mb-3" type="text" name="comment[text]" value="<%= comment.text %>" placeholder="type your comment">
                <button class="btn btn-primary btn-block mb-3">Submit</button>
            </form>
            <a href="/campgrounds/<%= campground_id %>">Go Back</a>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>
